body {
    background-color: #1a1a1a;
    color: #ffffff;
}

input, .button {
    background-color: #2a2a2a;
    color: #ffffff;
    border: none;
}

input:focus, .button:focus {
    border: 1px solid #00d1b2;
}

.button.is-primary {
    background-color: #00d1b2;
    color: #1a1a1a;
}
